flask
flask-cors
flask-jwt-extended
python-dotenv
sqlalchemy
requests
pillow
torch==2.7.1
transformers
accelerate
opencv-python
diffusers
flask_sqlalchemy
gunicorn
scikit-learn
redis
matplotlib
email-validator
